<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Cova Ai</title>
  <style type="text/css">
    /* Css reset  */
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      font-family: sans-serif;
    }

    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
      display: block;
    }

    body {
      line-height: 1;
    }

    ol,
    ul {
      list-style: none;
    }

    blockquote,
    q {
      quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
      content: "";
      content: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    /* reset css end  */
  </style>
</head>

<body style="padding-inline: 20px;">
  <table
    style="text-align: center; width: 100%; padding-top: 30px; background-position: center; background-size: cover;">
    <tbody>
      <tr>
        <td style="padding-bottom: 20px; padding-top: 30px; ">
          <img src="https://i.ibb.co/WDPVkhY/Screenshot-2024-03-18-at-10-49-1-1.png" alt="" style="height: auto ; width: 200px;">
        </td>
      </tr>
    </tbody>
  </table>

  <table
    style="background: url(); width: 100%; background-position: right; background-repeat: no-repeat; background-size: cover;">
    <tbody>
      <tr>
        <td>
          <table style="max-width: 550px; margin: 0 auto;">
            <tbody>
              <tr>
                <td>
                  <table style="width: 100%; margin-top: 20px;">
                    <tr>
                      <td>
                        <h1 style="font-size: 30px; font-weight: 600;">Hey {{name}}</h1>
                      </td>
                    </tr>
                  </table>

                  <table style="width: 100%; margin-top: 10px;">
                    <tbody>
                      <tr>
                        <td>
                          <p style="font-size: 16px; font-weight: 400; margin-top: 5px;line-height: 1.6;">We received a request to reset the password for the Gleesim account: <span style="color:#321ee9">{{email}}</span>. Click below to reset it.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table style="width: 100%; margin-top: 20px;">
                    <tbody>
                      <tr>
                        <td style="text-align: center;">
                          <div>
                            <a target="_blank" href="{{actionUrl}}"
                              style="background-color: #054940; text-decoration: none; padding: 15px; color: white; border-radius: 10px; border: none; width: 200px;">
                              <span style="mso-text-raise: 15pt; color: #FFFFFF;">Reset My Password</span>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  

                  <table style="width: 100%; margin-top: 20px;">
                    <tbody>
                      <tr>
                        <td>
                          <p style="margin-top: 20px; ">Have a great day</p>
                          <p style="margin-top: 8px; ">The Gleesim</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>